# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/compiler.xml
.idea/dictionaries/
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
mahoutDemo.iml
